* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: uppercase;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    font-size: 60%;
}
.body{
    position: relative;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header .navbar a {
    font-size: 1.5rem;
    color: #000;
    margin: 0 1rem;
}
header .navbar a:hover {
    color: #00ff95;
}
header .icons i {
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    margin-left: 1.5rem;
}
header .icons i:hover {
    color: #00ff95;
}
main{
    /* position: relative; */
    padding-top: 70px;
}
#menu-icon {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: #000;
    display: none;
}
/* Cart styles */
.cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    top: 80px;  
    right: 0;
    min-height: 100px;
    max-height: 350px;
    max-width: 280px;
    background: rgba(255, 255, 255, 1);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}
.cart {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.5rem;
}
.cart .cart-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid black;
}
.cart .cart-item img{
    width: 100px;
    height: auto;
}
.cart .cart-item .quantity{
    font-size: 1.1rem;
    font-weight: 8  00;
}
.cart-container .cart-total{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
/* body {
    height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/supermarket2.avif);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
    position: static;
}
.swiper-button-prev .btn{
    margin: 4px;
}
main.login{
    width: 100%;
    height: 100vh;
    background: linear-gradient(lightgreen,skyblue);
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* color: #fff; */
    border-radius: 10px;
    padding: 30px 40px;
    align-self: center;
  
    position: absolute;
    top: 20%;
    left: 29%;
}
.wrapper h1{
    font-size: 30px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    font-size: 14px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    /* color: #fff; */
}
.input-box i{
    position: relative;
    right: -90%;
    top: -50%;
    transform: translateY(-50%);
    font-size: 16px;
    
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: rgb(123, 78, 78);
    margin-right: 3px;
}
.remember-forgot a{
    /* color: #fff; */
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    padding: 12px 0px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 12px;
    text-align: center;
    margin:20PX 0 15px
}
.register-link p a{
    /* color: #fff; */
    text-decoration: none;
    font-weight: 400;
}
.register-link a:hover{
    color: #fff;
    text-decoration: underline;
}
@media(max-width: 768px) {
    #menu-icon {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: -120%;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    header .navbar a {
        font-size: 2rem;

        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
    header .navbar.active {
        left: 0;
    }
    .review_box{
        position: relative;
        left: -400px;
        width: 100%;
        flex-direction: column;
        
        flex-wrap: wrap;

    }
    .profile{

        margin: 20px 0;
    }
}

/*  */

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.slides{
    width: 100%;
    height: 100%;
}
.slides::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 9;
}
.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 11;
    color: #fff;
    font-weight: 400;
}

.img-overlay p{
    font-size: 1rem;
}
.img-overlay h2{
    font-size: 4rem;
    color: #2ecc71;
    letter-spacing: 5px;
}
.img-overlay h3{
    font-size: 3.5rem;
    letter-spacing: 5px;
}
.img-overlay a{
    text-decoration: none;
    color: #fff;
    background: #2ecc71;
    padding: 0.2rem 2rem;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 4px;
    transition: all 0.5 ease-in-out;
}
.img-overlay a:hover{
    background: #239b56;

}
.btn{
    background:  rgba(0,0,0,0.6);
    padding: 2rem;
    color: white;
    border-radius: 50%;
}
.btn::after{
    color: #fff;
}
.swiper-button-next{
    margin-right: 50px;
}
.swiper-button-prev{
    margin-left: 50px;
}
.text{
    margin-left: 150px;
    font-weight: 2rem;
    text-transform: uppercase;
    
}
.product{
    width: 100%;
    /* height: 100vh; */
    padding: 70px 0;
}
.product h1 {
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.product h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product .product_box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    margin-left: 200px;
    /* flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem; */
}
.product .product_box .product_card {
    /* width: 325px; */
    width: 350px;
    height: 450px;
    padding-top: 10px;
    margin-left: 20px;
    /* margin-right: 10px; */
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product .product_box .product_card .product_img {
    /* width: 300px; */
    display: flex;
    justify-content: center;
    width: 275px;
    height: 205px;
    margin: 0 auto;
    overflow: hidden;
}
.product .product_box .product_card .product_img img{
    position: relative;
    bottom: -9px;
    width: 62%;
    height: 100%;
    /* margin-bottom: -30px; */
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}
.product .product_box .product_card .product_img img:hover {
    transform: scale(1.2);
    }
    .product .product_box .product_card .small_card {
        width: 45px;
        height: 45px;
        float: right;
        position: relative;
        top: -200px;
        right: -8px;
        opacity: 0;
        border-radius: 7px;
        transition: 0.3s;
    }
    .product .product_box .product_card:hover .small_card {
        position: relative;
        top: -200px;
        right: 20px;
        opacity: 1;
    }
    .product .product_box .product_card .small_card i {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 50px;
        color: #000;
        cursor: pointer;
        text-shadow: 0 0 6px #000;
        transition: 0.2s;
    }
    .product .product_box .product_card  .small_card i:hover {
        color: #00ff95;
    }
    .product .product_box .product_card .product_info h2 {
        width: 60%;
        text-align: center;
        margin: 40px 80px;
        font-size: 18px;
        font-size: medium;
    }
    .product .product_box .product_card .product_info h3 {
        text-align: center;
        margin-top: -20px;
        font-size: 20px;
    }
    .product .product_card .product_icon {
        color: #fac031;
        text-align: center;
        margin: 10px 0 10px 0;

        padding: 10px;
    }
    .product .product_box .product_card .product_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        background: #000;
        padding: 8px 10px;
        margin: 0 90px;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .product .product_box .product_card .product_btn:hover{
        background-color: #00ff95;
    }
    .product .product_box .product_card .product_info h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    .review{
        background: linear-gradient(90deg, #00ff95 0%, rgb(95, 190, 222) 100%);
        min-height: 100vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff; 
    }
    .review h1{
        font-size: 60px;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .review h5{
        font-size: 16px;
        text-align: center;
        margin-bottom: 50px;
        
    }
    .review_box{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        margin: 0 auto;
    }
    .profile{
        width: 350px;
        height: 250px;
        border-radius: 15px;
        margin: 13px;
        padding: 20px 30px;
        position: relative;
        background: rgba(225, 225, 225, 0.5);
        box-shadow: 10px 20px 25px rgba(0, 0, 0, 0.2);
    }
    .profile img{
        height: 90px;
        width: 90px;
        border: 2px solid #f2f2f2;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 20px;
    }
    .profile p{
        font-size: 16px;
        margin-top: 40px;
        margin-bottom: 25px;
    }
    .profile h2{
        font-weight: 500;
        margin-bottom: 4px;
    }
    .profile h4{
        color: #000;
        font-weight: 300;
        font-size: 12px;
    }
    .profile i{
        font-size: 60px;
        position: absolute;
        bottom: 20px;
        right: 25px;
        color: gray;
    }
    .profile:hover{
        transform: scale(1.1);
    }
